/*----------plus jakarta Google Font--------------- */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Raleway:wght@200;400&family=Rancho&display=swap");
/*----------Outfit Google Font--------------- */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Raleway:wght@200;400&family=Rancho&display=swap");
/*----------playfair Google Font--------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:wght@600&family=Poppins:wght@400;500;600;800&display=swap");

/* ___________________Tailwind CSS______________________ */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #18181b;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .plusJakarta {
} */

.outFit {
  font-family: "Outfit", sans-serif;
}
.playfair {
  font-family: "Playfair Display", serif;
}

a {
  font-weight: 400;
  color: #18181b;
  text-decoration: none;
}
a:hover {
  color: #b1e346;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #18181b;
    background-color: #ffffff;
  }
  a:hover {
    color: #b0f222;
  }
  button {
    background-color: #f9f9f9;
  }
}
